
/* 讓所有數值皆有漸移的動態,此處 section 為 html 既有的 tag, Microsite 共用 */	
section div{
    transition: all 0.3s ease-in-out 0s;/*底圖顏色漸變消失*/
}


/* Load animation */
/*資料傳輸動畫*/


.circle_trans{
	
	border-radius:500px;
	font-size:23px;
	text-align:center;
	background:#fff;
	border: 3px solid rgba(255, 255, 255, 0.95);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99ffffff,endColorstr=#99ffffff,enabled=true,gradientType='1')\9;
	border: 3px solid #ffffff transparent\9;
	
	
	/* box 陰影在外面 */
	box-shadow:0 0 10px rgba(144, 148, 153, 0.4);
	box-shadow:0 0 10px #909499\9;
	
	
	/* inset 指陰影在 box 內
	box-shadow:0 0 4px #222 inset;
	*/
	
	/*
	width:100px;
	height:100px;
	*/
	
	/*
    border: 8px solid rgba(195, 195, 195, 0.35);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#35c3c4c4,endColorstr=#35c3c4c4,enabled=true,gradientType='1')\9;
	border: 8px solid #c3c4c4 transparent\9;
	-webkit-border-top-left-radius:500px;
	-moz-border-radius-topleft:500px;
	border-top-left-radius:500px;
	-webkit-border-top-right-radius:500px;
	-moz-border-radius-topright:500px;
	border-top-right-radius:500px;
	-webkit-border-bottom-right-radius:500px;
	-moz-border-radius-bottomright:500px;
	border-bottom-right-radius:500px;
	-webkit-border-bottom-left-radius:500px;
	-moz-border-radius-bottomleft:500px;
	border-bottom-left-radius:500px;
	*/	
}


/* 跑 Sec 秒數位置 */

/* 沒有三角形
.secword {
    /*color: #fff;
    font-weight: bold;
    left: 0%; 
	width:100%;
    position:absolute;
	display:block;
    bottom: 124px;
	line-height:20px;
}
*/

.secword {
    /*color: #fff;
    font-weight: bold;*/
    left: 0%; 
	width:100%;
    position:absolute;
	display:block;
    bottom: 175px;
	line-height:20px;
}

.secword > span {
    display: block;
}

@-webkit-keyframes 
load { 0% {
           stroke-dashoffset:0
       }
}
@-moz-keyframes 
load { 0% {
           stroke-dashoffset:0
       }
}
@keyframes 
load { 0% {
           stroke-dashoffset:0
       }
}

.file-trans {
    position: relative;
    display: inline-block;
    padding: 0;
    text-align: center;
}


.file-trans>li {
    display: inline-block;
    position: relative;
    text-align: center;
    /* color: #93A2AC; */
    font-family: Lato;
    font-weight: 100;
    margin: 2rem;
}

.file-trans>li:before {
    content: attr(data-name);
    position: absolute;
    width: 100%;
    bottom: -2rem;
    font-weight: 400;
}

.file-trans>li:after {
    content: attr(data-percent);
    position: absolute;
    width: 100%;
    top: 3.7rem;
    left: 0;
    font-size: 2rem;
    text-align: center;
}

.file-trans svg {
    width: 14rem;
    height: 14rem;
}

.file-trans svg:nth-child(2) {
    position: absolute;
    left: 0;
    top: 0;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    fill: none;
	
	/* 遮罩線寬度 */
    stroke-width: 19;
    stroke-dasharray: 629;
	/* 跑秒數遮罩顏色 */
    stroke: #ffffff;
    opacity: 0.9;
}

.progressbar svg:nth-child(2) .slow {
    -webkit-animation: load 6s;
    -moz-animation: load 6s;
    -o-animation: load 6s;
    animation: load 6s;
}

.progressbar svg:nth-child(2) .fast {
    -webkit-animation: load 3s;
    -moz-animation: load 3s;
    -o-animation: load 3s;
    animation: load 3s;
}
/*end 資料傳輸動畫*/




/* 特殊需求,Microsite 不共用 */	
#section_1 .icon li{
    display:inline;
}


#section_2 .page_stitle3{
	margin-top:10px;
}

#section_2 .pic,#section_2 .pic img{width:100%;}
#section_2 .pic,#section_2 .pic img{width:100%;transition:all 300ms ease-in-out 0s}
#section_2 .pic,#section_2 .pic img{ 
    transition: all 300ms ease-in-out 0s;
    overflow: hidden;
}

.zoomIn{
    transform: scale(1.1);
    moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
}


/* 圖片滑過色塊變黑 1%
figcaption{   
    background-color: rgba(0, 0, 0, 0.45);
    font-size: 15px;
    height: 100%;
    left: 0;
    opacity: 0;
    padding: 25% 0;
    position: absolute;
    text-align: center;
    top: 0;
    transition: all 300ms ease-in-out 0s;
    width: 100%;
}

figcaption.hover{   
    opacity: 1;
}
*/



/* 圖片滑過色塊變橘色 */
figcaption{   
    background-color: rgba(255, 120, 0, 0.75);
    font-size: 15px;
    height: 100%;
    left: 0;
    opacity: 0;
    padding: 25% 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
    transition: all 0.3s ease-in-out 0s;/*底圖顏色漸變消失*/
}

figcaption.hover{   
    opacity: 1;
    transition: all 0.5s linear 0s; /*底圖顏色漸變出現*/
}




/* banner 特殊調整--文字透明黑底設定 */
#section_1 div.section_block .color_block {
    padding:45px 45px 36px 45px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#88000000,endColorstr=#88000000,enabled=true,gradientType='1')\9;
}



/* 影片寬度隨螢幕比例縮放 */
    .bg #videoClip{
        width: 100%;
        padding-top:0px;
    }
	
	
/* Intro Section--word button */
    #section_3 div.section_block .wordbutton{
    padding-top:40px;
    }
	
	
/* page_txt 特殊調整  
    #section_4 div.section_block .page_txt {
        margin-bottom:80px;
    }
*/	


#section_4 a:hover
{text-decoration: none;}
	
	
/* Compare Video 特殊調整  */	
    #section_4 div.section_block .videoBG {
		margin-top:80px;
    }

	
	
/* Security 後衛背景 default */	
   #section_6 .bg{
    background-position: 50% 0px;
	background: url("../images/Features/bg_features_3.jpg") no-repeat fixed;
}

@media screen and (-webkit-min-device-pixel-ratio:0)
{
    #section_6 .bg {
background: url("../images/Features/bg_features_3.jpg") no-repeat fixed;
background-position: 50% 0px;

	}
	/*chrome微調位置*/
}



/* 超級大螢幕 */
@Media (min-width: 1921px) and (max-width: 2560px) { 



    /* 所有 Microsite 的 Features 裡的 Banner 都適用,不分 Section -- 不可刪除 */	
    div.container .banner_block {
        height: 678px;
    }
	
	
	@media screen and (-webkit-min-device-pixel-ratio:0)
{
    div.container .banner_block {
height: 724px;

	}
	/*chrome微調位置*/
}	


    /* banner 特殊調整--圖文上方多餘空間 -- 不可刪除 */	
    #section_1 .banner_extrab{
        height:60px;
    }



    /* banner 特殊調整 -- Icon 選項位置 */
    #section_1 div.section_block .icon {
        margin-top:-30px;
    }


    #section_1 .Animation-hard .bg{
        background-position: 50% -50px;
    }

    /*背景圖高度較小
    #section_1 .banner_content{
            margin-top:-112px;
    }
    */


    #section_1 .banner_content{
        margin-top:-54px;
    }


    #section_1 .banner_title{
        margin-top:0px;
        margin-bottom:120px;
    }

    #section_1 .banner_arrow{
        position: relative; 
        top:50px;
        /*
        top:-25px;
        */
        margin-bottom:40px;
    }


    #section_1 .page_titles{
		font-size:42px;
        line-height:52px;
    }	


    #section_2 .imgBlock{
        cursor: pointer;
        width: 33.333%; 
        float: left;
        font-size: 0px;
        position: relative;
    }

    #section_2 .imgBlockTitle{
        font-weight:100px;
        position: absolute;
        width:100%;
        text-align: center;
		top: 35%;
    }


    /* Intro Section */
    #section_3 div.section_block{
        margin:35px 0 25px 0;
    }

    #section_3 div.section_block .color_block {
        opacity:0.5;
    }
	
	
	/* Intro Section--word button */
    #section_3 div.section_block .wordbutton{
    padding-top:55px;
    }


    /* Video Section 
    #section_4 div.section_block{
        margin:180px 0 180px 0
    }
	*/
	
	
	/* Video Section--movie block 空白高度 */
    #section_4 .movie_block{
		height:450px;
		margin-top:60px;
    }
	
	
	/* 影片寬度隨螢幕比例縮放 */
    .bg #videoClip{
        width: 1920px;
        padding-top:0px;
    }
	
	
	
	.file-trans {
	margin-top:-50px;
}


    #section_5 div.section_block{
		margin-top:200px;
		margin-bottom:190px;
    }
	
	
	/* Security Section */
    #section_6 div.section_block{
        margin:400px 0 420px 0
    }


/* Security 背景 */
#section_6 .bg{
    background-position: 50% 0px;
	background-size:cover;
}

@media screen and (-webkit-min-device-pixel-ratio:0)
{
    #section_6 .bg {
background-position: 50% 0px;
background-size:cover;

	}
	/*chrome微調位置*/
}




}







/* 大螢幕 */
@Media (min-width: 1200px) and (max-width: 1920px) { 



    /* 所有 Microsite 的 Features 裡的 Banner 都適用,不分 Section -- 不可刪除 */	
    div.container .banner_block {
        height: 540px;
    }	


    /* banner 特殊調整--圖文上方多餘空間 -- 不可刪除 */	
    #section_1 .banner_extrab{
        height:0px;
    }




    /* banner 特殊調整 -- Icon 選項位置 */
    #section_1 div.section_block .icon {
        margin-top:-100px;
    }


    /*背景圖高度較小
    #section_1 .Animation-hard .bg{
    background-position: 50% -170px;
}
    */


    #section_1 .Animation-hard .bg{
        background-position: 50% -200px;
    }


    /*背景圖高度較小
    #section_1 .banner_content{
            margin-top:-53px;
    }
    */


    #section_1 .banner_content{
      /*  margin-top:-23px; */
		margin-top:-33px;
    }


    #section_1 .banner_title{
        margin-top:0px;
       /* margin-bottom:50px; */
		margin-bottom:70px;

        text-shadow:0px 0px 20px rgba(0,0,0, 0.8);
    }


    /*背景圖高度較小
    #section_1 .banner_arrow{
    position: relative; 
    top:-50px;
    margin-bottom:-5px;
    }
    */


    #section_1 .banner_arrow{
        position: relative; 
        top:-10px;
        margin-bottom:-5px;
    }


    #section_1 .page_title_bigs4{
        font-size:75px;
        line-height:85px;
    }


    #section_1 .page_titles{
        /* font-size:40px; */
		font-size:36px;
        line-height:55px;
    }	




    /* banner 特殊調整--純圖片位置大小 */
    #section_1 div.section_block .features_banner {
        -webkit-transform:scale(0.9);	
        -moz-transform:scale(0.9);
        transform:scale(0.9);

    }


    #section_2 .imgBlock{
        cursor: pointer;
        width: 33.333%; 
        float: left;
        font-size: 0px;
        position: relative;
    }

    #section_2 .imgBlockTitle{
        -webkit-transform:scale(0.7);	
        -moz-transform:scale(0.7);
        transform:scale(0.7);

        position: absolute;
        width:100%;
        text-align: center;
		top: 27%;
        color:white;
    }


    /* Intro Section */
    #section_3 div.section_block{
        margin:35px 0 25px 0;
    }
	
	
	/* Intro Section--word button */
    #section_3 div.section_block .wordbutton{
    padding-top:55px;
    }


    /* Video Section */
    #section_4 div.section_block{
        margin:180px 0 200px 0
    }

	
	
	/* Video Section--movie block 空白高度 */
    #section_4 .movie_block{
		height:450px;
		margin-top:60px;
    }
	
	
	.file-trans {
	margin-top:-50px;
}


    #section_5 div.section_block{
		margin-top:160px;
		margin-bottom:140px;
    }
	
	
	/* Security Section */
    #section_6 div.section_block{
        margin:400px 0 300px 0
    }
	
	
	
/* Security 背景 */
#section_6 .bg{
    background-position: 50% 0px;
	background-size:cover;
}


@media screen and (-webkit-min-device-pixel-ratio:0)
{
    #section_6 .bg {
background-position: 50% 0px;
background-size:cover;

	}
	/*chrome微調位置*/
}

    #section_6 .banner_content{
        margin-top:-72px;
    }




}







/* 一般pc小螢幕 */
@Media (min-width: 980px) and (max-width: 1199px) { 


    /* banner 特殊調整--背景位置*/	
    #section_1 .Animation-hard .bg{
        background-position: 50% -240px;
    }	



    /* banner 特殊調整--圖文下方多餘空間*/	
    #section_1 div.section_block{
        margin-bottom:105px;
    }



    /* 所有 Microsite 的 Features 裡的 Banner 都適用,不分 Section -- 不可刪除 */	
    div.container .banner_block {
        height: 540px;
        margin-top:70px;
    }	


    /* banner 特殊調整--圖文上方多餘空間 -- 不可刪除 */	
    #section_1 .banner_extrab{
        height:0px;
    }



    /* banner 特殊調整--純圖片位置大小 */
    #section_1 div.section_block .features_banner {
	    -webkit-transform:scale(0.85);	
        -moz-transform:scale(0.85);
        transform:scale(0.85);	
    }


    /* banner 特殊調整 -- Icon 選項位置 */
    #section_1 div.section_block .icon {
        /*
        margin-top:-25px;
        */

        margin-top:-135px;
    }



    /* banner 特殊調整--文字透明黑底設定 */
    #section_1 div.section_block .color_block {
        padding:35px 40px 35px 40px;
    }
	
	
	    #section_1 .banner_content{
        margin-top:-5px;
    }


    #section_1 .banner_title{
        margin-top:0px;
        margin-bottom:72px;
    }
	
	
	    #section_1 .banner_arrow{
        position: relative; 
        top:-25px;
        margin-bottom:-5px;
    }


    #section_1 div.section_block .page_title_bigs2 span, #section_1 div.section_block .page_title_bigs2 {
        font-size:50px;
        line-height:62px;
    }







    #section_1 .page_title_bigs4{
        font-size:70px;
        line-height:80px;
    }
	
	
	#section_1 .page_titles span, #section_1 .page_titles {
    font-size:36px;
    font-weight:200;
    line-height:46px;
}




    #section_2 .imgBlock{
        cursor: pointer;
        width: 33.333%; 
        float: left;
        font-size: 0px;
        position: relative;
    }

    #section_2 .imgBlockTitle{
        -webkit-transform:scale(0.55);	
        -moz-transform:scale(0.55);
        transform:scale(0.55);
        white-space:nowrap;
        position: absolute;
        width:100%;
        text-align: center;
		top: 14%;
        color:white;
    }
	
	
	
	/* Intro Section */
    #section_3 div.section_block{
    margin:60px 0 65px 0;
	text-align:center;
    }
	
	
	/* Intro Section--word block */
    #section_3 div.section_block .wordblock{
		width:100%;
    }
	
	
		/* Intro Section--word button */
    #section_3 div.section_block .wordbutton{
		width:77%;
		padding-top:25px;
    }
	
	
	/* 按鈕 */
	#section_3 .Button_lineW {
     font-size:14pt;
	 padding:15px 15px 17px 15px;
	 width: 50%;
}


/* Compare Video 特殊調整  */	
    #section_4 div.section_block .videoBG {
		margin-top:60px;
        margin-left:-8%;
    }
	




/* 影片寬度隨螢幕比例縮放 */
    .bg #videoClip{
        width: 100%;
        padding-top:150px;
    }


/* Video Section--movie block 空白高度 */
    #section_4 .movie_block{
		height:260px;
		margin-top:60px;
    }
	
	
	
	#section_5 div.section_block .wordRight{
		width:100%;
		margin-bottom:50px;
		text-align:center;
		padding: 0 20px;
		}
	
	#section_5 div.section_block .imgLeft{
		width:100%;
		text-align:center;
		margin-left:-1%;
		}
	
	
	
	/* Security Section */
    #section_6 div.section_block{
        margin:400px 0 300px 0
    }
	
	
	
/* Security 背景 */
    #section_6 .bg{
    background-position: 50% 0px;
	background-size:cover;
	/* background-size: 2000px 1063px; */
}


/*chrome微調位置
@media screen and (-webkit-min-device-pixel-ratio:0)
{
    #section_6 .bg {
background-position: 50% 0px;
background-size:cover;
background: url("../images/Features/bg_features_3.jpg") no-repeat fixed;

	}
}
*/


    #section_6 .banner_content{
        margin-top:-72px;
    }




}





/* 平板電腦、橫向手機和一般桌機解析度 */
@Media (min-width: 768px) and (max-width: 979px) { 



    /* banner 特殊調整--圖文下方多餘空間*/	
    #section_1 div.section_block{
        margin-top:70px;
        margin-bottom:60px;
    }



    /* banner 特殊調整--背景位置*/	
    #section_1 .Animation-hard .bg{
        background-position: 50% -10px;
		background-size: 1600px 850px;
    }	


    /* banner 特殊調整--純圖片位置大小 */
    #section_1 div.section_block .features_banner {
	    -webkit-transform:scale(0.85);	
        -moz-transform:scale(0.85);
        transform:scale(0.85);	
    }




    /* 所有 Microsite 的 Features 裡的 Banner 都適用,不分 Section -- 不可刪除 */	
    div.container .banner_block {
        height: 540px;
        margin-top:70px;
    }	



    /* banner 特殊調整--文字透明黑底設定 */
    #section_1 div.section_block .color_block {
        padding:35px 40px 35px 40px;
    }
	
	
	
	/* banner 特殊調整--文字寬度 */
    #section_1 div.section_block .wordscale {
		width:100%;
    }
	
	
	   #section_1 .banner_content{
        margin-top:-5px;
    }


    #section_1 .banner_title{
        margin-top:0px;
        margin-bottom:66px;
    }

    #section_1 .banner_arrow{
        position: relative; 
        top:50px;
        /*
        top:-25px;
        */
        margin-bottom:40px;
    }
	
	
	#section_1 .banner_arrow{
        position: relative; 
        top:-25px;
        margin-bottom:-5px;
    }


    #section_1 .page_title_bigs4{
        font-size:70px;
        line-height:80px;
    }
	
	
	#section_1 .page_titles span, #section_1 .page_titles {
    font-size:36px;
    font-weight:200;
    line-height:46px;
}
	
	

    #section_2 .imgBlock{
        cursor: pointer;
        width: 33.333%; 
        float: left;
        font-size: 0px;
        position: relative;
    }

    #section_2 .imgBlockTitle{
        -webkit-transform:scale(0.5);	
        -moz-transform:scale(0.5);
        transform:scale(0.5);
        white-space:nowrap;
        position: absolute;
        width:100%;
        text-align: center;
		top: 7%;
        color:white;
    }
	
	
	
	/* Intro Section */
    #section_3 div.section_block{
    margin:45px 0 40px 0;
	text-align:center;
    }
	
	
	/* Intro Section--word block */
    #section_3 div.section_block .wordblock{
		width:100%;
    }
	
	
		/* Intro Section--word button */
    #section_3 div.section_block .wordbutton{
		width:77%;
		padding-top:25px;
    }
	
	
	/* 按鈕 */
	#section_3 .Button_lineW {
     font-size:14pt;
	 padding:15px 15px 17px 15px;
	 width: 50%;
}


	#section_4 .page_txt{
		margin-bottom:30px;
	}

	#section_4 .VideoIcon{
		margin-left:-1%;
	}


	#section_5 div.section_block .wordRight{
		text-align:center;
		}



	#section_5 div.section_block .imgLeft{
		width:100%;
		text-align:center;
		margin-left:-1%;
		}


	/* Security Section */
    #section_6 div.section_block{
        margin:400px 0 210px 0;
    }
	
	
	
/* Security 背景 */
    #section_6 .bg{
    background-position: 50% 0px;
	/*
	background-size: 2000px 1063px;
	*/
}

/*chrome微調位置
@media screen and (-webkit-min-device-pixel-ratio:0)
{
    #section_6 .bg {
    background-position: 50% 0px;
	background-size: 2000px 1063px;
    background: url("../images/Features/bg_features_3.jpg") no-repeat fixed;
	}
}
*/


    #section_6 .banner_content{
        margin-top:-72px;
    }


}










/* 橫向智慧手機到竪立平板電腦解析度 */
@Media (max-width: 767px) { 



    #section_1 .Animation-hard .bg{
        background-position: 50% -55px;
		background-size: 1600px 850px;
    }



    /* banner 特殊調整--純圖片位置大小 */
    #section_1 div.section_block .features_banner {
	    -webkit-transform:scale(1);	
        -moz-transform:scale(1);
        transform:scale(1);	
    }



    /* banner 特殊調整--純圖片位置大小--for Safari */




    /* 所有 Microsite 的 Features 裡的 Banner 都適用,不分 Section -- 不可刪除 */	
    div.container .banner_block {
        /*height: 880px;*/
        margin-top:70px;
    }	



    /* banner 特殊調整--文字透明黑底設定 */
    #section_1 div.section_block .color_block {
        padding:35px 40px 35px 40px;
    }
	
	
	   #section_1 .banner_content{
        margin-top:-5px;
    }


    #section_1 .banner_title{
        margin-top:0px;
        margin-bottom:66px;
    }

    #section_1 .banner_arrow{
		-webkit-transform:scale(0.8);	
        -moz-transform:scale(0.8);
        transform:scale(0.8);	
        position: relative; 
        top:50px;
        /*
        top:-25px;
        */
        margin-bottom:40px;
    }
	
	
	#section_1 .banner_arrow{
        position: relative; 
        top:0px;
        margin-bottom:-5px;
    }


    #section_1 .page_title_bigs4{
        font-size:67px;
        line-height:77px;
    }
	
	
	#section_1 .page_titles span, #section_1 .page_titles {
    font-size:27px;
    font-weight:200;
    line-height:37px;
}
	
	

    #section_2 .imgBlock{
        cursor: pointer;
        width: 33.333%; 
        float: left;
        font-size: 0px;
        position: relative;
    }
	
	

    #section_2 .imgBlockTitle{
        -webkit-transform:scale(0.45);	
        -moz-transform:scale(0.45);
        transform:scale(0.45);
        font-weight:300;
        position: absolute;
        width:100%;
        text-align: center;top: 40%;
        color:white;
    }
	
	
		/* Intro Section */
    #section_3 div.section_block{
    margin:45px 0 40px 0;
	text-align:center;
    }
	
	
#section_3 .page_titles3 span, .page_titles3{
font-size: 35px;
}


	/* Intro Section--word button */
    #section_3 div.section_block .wordbutton{
		padding-top:0px;
    }
	
	
	
	#section_4 .page_txt{
		margin-bottom:30px;
	}
	
	
	#section_5 div.section_block .wordRight{
		text-align:center;
		}
	
	
	
	
	/* Security Section */
    #section_6 div.section_block{
        margin:400px 0 300px 0
    }
	
	
	
/* Security 背景 */
    #section_6 .bg{
	background-position: 50% 0px;
	/*
	background-size: 2200px 1169px;
	*/
}


/*chrome微調位置
@media screen and (-webkit-min-device-pixel-ratio:0)
{
    #section_6 .bg {
    background-position: 50% 0px;
	background-size: 2200px 1169px;
	background: url("../images/Features/bg_features_3.jpg") no-repeat fixed;

	}
}
*/


    #section_6 .banner_content{
        margin-top:-72px;
    }



}










/* iPhone 6 & 6 plus > 4.7吋--手機及其他更小解析度 */
@Media (min-width: 373px) and (max-width: 414px) { 




    /* 只套用在 "Features" 頁面,包含 Section2 以後的內容, 
       因為使用 Wordscale 去 transform 縮小文字,所以本來該撐滿的文字區塊多了文字縮後的空白空間,
       以至於上方空間太高,此為針對 "文字" 到 "Section" 頂端的特殊調整 */
    #section_3 div.section_block, #section_4 div.section_block, #section_5 div.section_block, #section_6 div.section_block, #section_7 div.section_block {
        margin-top:30px;
    }
	
	
	
	    /* banner 特殊調整--背景位置*/	
    #section_1 .Animation-hard .bg{
        background-position: 50% -70px;
		background-size: 1500px 797px;
    }	



    /* banner 特殊調整--圖文下方多餘空間*/	
    #section_1 div.section_block{
        margin-bottom:105px;
    }



    #section_1 div.section_block .page_title_bigs2 span, .page_title_bigs2 {
        font-size:42px;
        line-height:52px;
    }
	
	
	#section_1 .page_title_bigs4{
        font-size:60px;
        line-height:70px;
    }
	
	
    #section_1 .page_titles span, #section_1 .page_titles {
    font-size:25px;
    font-weight:300;
    line-height:35px;
}
	



    /* 所有 Microsite 的 Features 裡的 Banner 都適用,不分 Section -- 不可刪除 */	
    div.container .banner_block {
        margin-top:10px;
    }	


    /* banner 特殊調整--純圖片位置大小 */
    #section_1 div.section_block .features_banner {
	    -webkit-transform:scale(1.2);	
        -moz-transform:scale(1.2);
        transform:scale(1.2);
    }


    /* banner 特殊調整--純圖片位置大小--for Safari */




    /* banner 特殊調整--文字透明黑底設定 */
    #section_1 div.section_block .color_block {
        padding:25px 35px 30px 35px;
    }
	
	
	
	
	/* 按鈕 */
	#section_3 .Button_lineW {
     font-size:12pt;
	 font-weight:300;
	 padding:15px 15px 17px 15px;
}



	/* Intro Section--word button */
    #section_3 div.section_block .wordbutton{
		padding-top:15px;
    }
	
	
	
	#section_4 .page_txt{
		margin-bottom:0px;
	}
	
	
	
/* Security Section */
    #section_6 div.section_block{
        margin:200px 0 100px 0
    }
	
	
	
/* Security 背景 */
    #section_6 .bg{
	background-position: 50% 0px;
	background-size: 2200px 1169px;
}


	/*chrome微調位置
@media screen and (-webkit-min-device-pixel-ratio:0)
{
    #section_6 .bg {
    background-position: 50% 0px;
	background-size: 2200px 1169px;
	background: url("../images/Features/bg_features_3.jpg") no-repeat fixed;

	}
}
*/


    #section_6 .banner_content{
        margin-top:-72px;
    }






}









/* 橫向智慧手機及其他更小解析度 */
@Media (max-width: 480px) { 




    /* 只套用在 "Features" 頁面,包含 Section2 以後的內容, 
       因為使用 Wordscale 去 transform 縮小文字,所以本來該撐滿的文字區塊多了文字縮後的空白空間,
       以至於上方空間太高,此為針對 "文字" 到 "Section" 頂端的特殊調整 */
    #section_3 div.section_block, #section_4 div.section_block, #section_5 div.section_block, #section_6 div.section_block, #section_7 div.section_block {
        margin-top:30px;
    }
	
	    /* banner 特殊調整--背景位置*/	
    #section_1 .Animation-hard .bg{
        background-position: 50% -70px;
		background-size: 1500px 797px;
    }	



    #section_1 div.section_block .page_title_bigs2 span, .page_title_bigs2 {
        font-size:42px;
        line-height:52px;
    }
	
	
	    #section_1 .page_title_bigs4{
        font-size:60px;
        line-height:70px;
    }
	
	
	
	#section_1 .page_titles span, #section_1 .page_titles {
    font-size:23px;
    font-weight:300;
    line-height:33px;
}


    /* 所有 Microsite 的 Features 裡的 Banner 都適用,不分 Section -- 不可刪除 */	
    div.container .banner_block {
       margin-top:40px;
    }	


    /* banner 特殊調整--純圖片位置大小 */
    #section_1 div.section_block .features_banner {
	    -webkit-transform:scale(1.2);	
        -moz-transform:scale(1.2);
        transform:scale(1.2);	
    }



    #section_1 .banner_content{
        margin-top:0px;
    }


    #section_1 .banner_title{
        margin-top:0px;
        margin-bottom:110px;
    }

    #section_1 .banner_arrow{
        position: relative; 
        top:50px;
        /*
        top:-25px;
        */
        margin-bottom:40px;
    }




    /* banner 特殊調整--文字透明黑底設定 */
    #section_1 div.section_block .color_block {
        padding:25px 35px 30px 35px;
    }
	
	
	
	/* 按鈕 */
	#section_3 .Button_lineW {
     font-size:12pt;
	 font-weight:300;
	 padding:15px 15px 17px 15px;
}


		/* Intro Section--word button */
    #section_3 div.section_block .wordbutton{
		padding-top:15px;
    }
	
	
	#section_4 .page_txt{
		margin-bottom:0px;
	}



	/* Security Section */
    #section_6 div.section_block{
        margin:200px 0 100px;
	}
		
		
	/* Security 背景 
    #section_6 .bg{
    background-position: 49% -65px;
}	
*/
	
	
	
/* Security 背景 */
    #section_6 .bg{
	background-position: 50% 0px;
	background-size: 2560px 1360px;
}

/*chrome微調位置
@media screen and (-webkit-min-device-pixel-ratio:0)
{
    #section_6 .bg {
    background-position: 50% 0px;
	background-size: 2560px 1360px;
	background: url("../images/Features/bg_features_3.jpg") no-repeat fixed;

	}
}
*/



    #section_6 .banner_content{
        margin-top:-72px;
    }


}

