[class^="gicon-black"],
[class*="gicon-black"]{display:inline-block;margin-top:1px;*margin-right:.3em;line-height:14px;vertical-align:text-top;background-image:url("../images/glyphicons_black.png");background-repeat:no-repeat;}
[class^="gicon-white"],
[class*="gicon-white"]{display:inline-block;margin-top:1px;*margin-right:.3em;line-height:14px;vertical-align:text-top;background-image:url("../images/glyphicons_white.png");background-repeat:no-repeat;}
[class^="gicon-gray"],
[class*="gicon-gray"]{display:inline-block;margin-top:1px;*margin-right:.3em;line-height:14px;vertical-align:text-top;background-image:url("../images/glyphicons_gray.png");background-repeat:no-repeat;}
.gicon_glass{background-position:0 0;width:36px;height:36px;}
.gicon_leaf{background-position:0 -86px;width:36px;height:36px;}
.gicon_dog{background-position:0 -172px;width:36px;height:36px;}
.gicon_user{background-position:0 -258px;width:36px;height:36px;}
.gicon_girl{background-position:0 -344px;width:36px;height:36px;}
.gicon_car{background-position:0 -430px;width:36px;height:36px;}
.gicon_user_add{background-position:0 -516px;width:36px;height:36px;}
.gicon_user_remove{background-position:0 -602px;width:36px;height:36px;}
.gicon_film{background-position:0 -688px;width:36px;height:36px;}
.gicon_magic{background-position:0 -774px;width:36px;height:36px;}
.gicon_envelope{background-position:0 -860px;width:36px;height:36px;}
.gicon_camera{background-position:0 -946px;width:36px;height:36px;}
.gicon_heart{background-position:0 -1032px;width:36px;height:36px;}
.gicon_arrow_down{background-position:0 -1118px;width:36px;height:36px;}
.gicon_beach_umbrella{background-position:0 -1204px;width:36px;height:36px;}
.gicon_arrow_up{background-position:0 -1290px;width:36px;height:36px;}
.gicon_train{background-position:0 -1376px;width:36px;height:36px;}
.gicon_print{background-position:0 -1462px;width:36px;height:36px;}
.gicon_bin{background-position:0 -1548px;width:36px;height:36px;}
.gicon_music{background-position:0 -1634px;width:36px;height:36px;}
.gicon_note{background-position:0 -1720px;width:36px;height:36px;}
.gicon_heart_empty{background-position:0 -1806px;width:36px;height:36px;}
.gicon_home{background-position:0 -1892px;width:36px;height:36px;}
.gicon_snowflake{background-position:-86px 0;width:36px;height:36px;}
.gicon_fire{background-position:-86px -86px;width:36px;height:36px;}
.gicon_magnet{background-position:-86px -172px;width:36px;height:36px;}
.gicon_parents{background-position:-86px -258px;width:36px;height:36px;}
.gicon_binoculars{background-position:-86px -344px;width:36px;height:36px;}
.gicon_road{background-position:-86px -430px;width:36px;height:36px;}
.gicon_search{background-position:-86px -516px;width:36px;height:36px;}
.gicon_cars{background-position:-86px -602px;width:36px;height:36px;}
.gicon_notes_2{background-position:-86px -688px;width:36px;height:36px;}
.gicon_pencil{background-position:-86px -774px;width:36px;height:36px;}
.gicon_bus{background-position:-86px -860px;width:36px;height:36px;}
.gicon_wifi_alt{background-position:-86px -946px;width:36px;height:36px;}
.gicon_luggage{background-position:-86px -1032px;width:36px;height:36px;}
.gicon_old_man{background-position:-86px -1118px;width:36px;height:36px;}
.gicon_woman{background-position:-86px -1204px;width:36px;height:36px;}
.gicon_file{background-position:-86px -1290px;width:36px;height:36px;}
.gicon_coins{background-position:-86px -1376px;width:36px;height:36px;}
.gicon_airplane{background-position:-86px -1462px;width:36px;height:36px;}
.gicon_notes{background-position:-86px -1548px;width:36px;height:36px;}
.gicon_stats{background-position:-86px -1634px;width:36px;height:36px;}
.gicon_charts{background-position:-86px -1720px;width:36px;height:36px;}
.gicon_pie_chart{background-position:-86px -1806px;width:36px;height:36px;}
.gicon_group{background-position:-86px -1892px;width:36px;height:36px;}
.gicon_keys{background-position:-172px 0;width:36px;height:36px;}
.gicon_calendar{background-position:-172px -86px;width:36px;height:36px;}
.gicon_router{background-position:-172px -172px;width:36px;height:36px;}
.gicon_camera_small{background-position:-172px -258px;width:36px;height:36px;}
.gicon_dislikes{background-position:-172px -344px;width:36px;height:36px;}
.gicon_star{background-position:-172px -430px;width:36px;height:36px;}
.gicon_link{background-position:-172px -516px;width:36px;height:36px;}
.gicon_eye_open{background-position:-172px -602px;width:36px;height:36px;}
.gicon_eye_close{background-position:-172px -688px;width:36px;height:36px;}
.gicon_alarm{background-position:-172px -774px;width:36px;height:36px;}
.gicon_clock{background-position:-172px -860px;width:36px;height:36px;}
.gicon_stopwatch{background-position:-172px -946px;width:36px;height:36px;}
.gicon_projector{background-position:-172px -1032px;width:36px;height:36px;}
.gicon_history{background-position:-172px -1118px;width:36px;height:36px;}
.gicon_truck{background-position:-172px -1204px;width:36px;height:36px;}
.gicon_cargo{background-position:-172px -1290px;width:36px;height:36px;}
.gicon_compass{background-position:-172px -1376px;width:36px;height:36px;}
.gicon_keynote{background-position:-172px -1462px;width:36px;height:36px;}
.gicon_paperclip{background-position:-172px -1548px;width:36px;height:36px;}
.gicon_power{background-position:-172px -1634px;width:36px;height:36px;}
.gicon_lightbulb{background-position:-172px -1720px;width:36px;height:36px;}
.gicon_tag{background-position:-172px -1806px;width:36px;height:36px;}
.gicon_tags{background-position:-172px -1892px;width:36px;height:36px;}
.gicon_cleaning{background-position:-258px 0;width:36px;height:36px;}
.gicon_ruller{background-position:-258px -86px;width:36px;height:36px;}
.gicon_gift{background-position:-258px -172px;width:36px;height:36px;}
.gicon_umbrella{background-position:-258px -258px;width:36px;height:36px;}
.gicon_book{background-position:-258px -344px;width:36px;height:36px;}
.gicon_bookmark{background-position:-258px -430px;width:36px;height:36px;}
.gicon_wifi{background-position:-258px -516px;width:36px;height:36px;}
.gicon_cup{background-position:-258px -602px;width:36px;height:36px;}
.gicon_stroller{background-position:-258px -688px;width:36px;height:36px;}
.gicon_headphones{background-position:-258px -774px;width:36px;height:36px;}
.gicon_headset{background-position:-258px -860px;width:36px;height:36px;}
.gicon_warning_sign{background-position:-258px -946px;width:36px;height:36px;}
.gicon_signal{background-position:-258px -1032px;width:36px;height:36px;}
.gicon_retweet{background-position:-258px -1118px;width:36px;height:36px;}
.gicon_refresh{background-position:-258px -1204px;width:36px;height:36px;}
.gicon_roundabout{background-position:-258px -1290px;width:36px;height:36px;}
.gicon_random{background-position:-258px -1376px;width:36px;height:36px;}
.gicon_heat{background-position:-258px -1462px;width:36px;height:36px;}
.gicon_repeat{background-position:-258px -1548px;width:36px;height:36px;}
.gicon_display{background-position:-258px -1634px;width:36px;height:36px;}
.gicon_log_book{background-position:-258px -1720px;width:36px;height:36px;}
.gicon_address_book{background-position:-258px -1806px;width:36px;height:36px;}
.gicon_building{background-position:-258px -1892px;width:36px;height:36px;}
.gicon_eyedropper{background-position:-344px 0;width:36px;height:36px;}
.gicon_adjust{background-position:-344px -86px;width:36px;height:36px;}
.gicon_tint{background-position:-344px -172px;width:36px;height:36px;}
.gicon_crop{background-position:-344px -258px;width:36px;height:36px;}
.gicon_vector_path_square{background-position:-344px -344px;width:36px;height:36px;}
.gicon_vector_path_circle{background-position:-344px -430px;width:36px;height:36px;}
.gicon_vector_path_polygon{background-position:-344px -516px;width:36px;height:36px;}
.gicon_vector_path_line{background-position:-344px -602px;width:36px;height:36px;}
.gicon_vector_path_curve{background-position:-344px -688px;width:36px;height:36px;}
.gicon_vector_path_all{background-position:-344px -774px;width:36px;height:36px;}
.gicon_font{background-position:-344px -860px;width:36px;height:36px;}
.gicon_italic{background-position:-344px -946px;width:36px;height:36px;}
.gicon_bold{background-position:-344px -1032px;width:36px;height:36px;}
.gicon_text_underline{background-position:-344px -1118px;width:36px;height:36px;}
.gicon_text_strike{background-position:-344px -1204px;width:36px;height:36px;}
.gicon_text_height{background-position:-344px -1290px;width:36px;height:36px;}
.gicon_text_width{background-position:-344px -1376px;width:36px;height:36px;}
.gicon_text_resize{background-position:-344px -1462px;width:36px;height:36px;}
.gicon_left_indent{background-position:-344px -1548px;width:36px;height:36px;}
.gicon_right_indent{background-position:-344px -1634px;width:36px;height:36px;}
.gicon_align_left{background-position:-344px -1720px;width:36px;height:36px;}
.gicon_align_center{background-position:-344px -1806px;width:36px;height:36px;}
.gicon_align_right{background-position:-344px -1892px;width:36px;height:36px;}
.gicon_justify{background-position:-430px 0;width:36px;height:36px;}
.gicon_list{background-position:-430px -86px;width:36px;height:36px;}
.gicon_text_smaller{background-position:-430px -172px;width:36px;height:36px;}
.gicon_text_bigger{background-position:-430px -258px;width:36px;height:36px;}
.gicon_embed{background-position:-430px -344px;width:36px;height:36px;}
.gicon_embed_close{background-position:-430px -430px;width:36px;height:36px;}
.gicon_table{background-position:-430px -516px;width:36px;height:36px;}
.gicon_message_full{background-position:-430px -602px;width:36px;height:36px;}
.gicon_message_empty{background-position:-430px -688px;width:36px;height:36px;}
.gicon_message_in{background-position:-430px -774px;width:36px;height:36px;}
.gicon_message_out{background-position:-430px -860px;width:36px;height:36px;}
.gicon_message_plus{background-position:-430px -946px;width:36px;height:36px;}
.gicon_message_minus{background-position:-430px -1032px;width:36px;height:36px;}
.gicon_message_ban{background-position:-430px -1118px;width:36px;height:36px;}
.gicon_message_flag{background-position:-430px -1204px;width:36px;height:36px;}
.gicon_message_lock{background-position:-430px -1290px;width:36px;height:36px;}
.gicon_message_new{background-position:-430px -1376px;width:36px;height:36px;}
.gicon_inbox{background-position:-430px -1462px;width:36px;height:36px;}
.gicon_inbox_plus{background-position:-430px -1548px;width:36px;height:36px;}
.gicon_inbox_minus{background-position:-430px -1634px;width:36px;height:36px;}
.gicon_inbox_lock{background-position:-430px -1720px;width:36px;height:36px;}
.gicon_inbox_in{background-position:-430px -1806px;width:36px;height:36px;}
.gicon_inbox_out{background-position:-430px -1892px;width:36px;height:36px;}
.gicon_cogwheel{background-position:-516px 0;width:36px;height:36px;}
.gicon_cogwheels{background-position:-516px -86px;width:36px;height:36px;}
.gicon_picture{background-position:-516px -172px;width:36px;height:36px;}
.gicon_adjust_alt{background-position:-516px -258px;width:36px;height:36px;}
.gicon_database_lock{background-position:-516px -344px;width:36px;height:36px;}
.gicon_database_plus{background-position:-516px -430px;width:36px;height:36px;}
.gicon_database_minus{background-position:-516px -516px;width:36px;height:36px;}
.gicon_database_ban{background-position:-516px -602px;width:36px;height:36px;}
.gicon_folder_open{background-position:-516px -688px;width:36px;height:36px;}
.gicon_folder_plus{background-position:-516px -774px;width:36px;height:36px;}
.gicon_folder_minus{background-position:-516px -860px;width:36px;height:36px;}
.gicon_folder_lock{background-position:-516px -946px;width:36px;height:36px;}
.gicon_folder_flag{background-position:-516px -1032px;width:36px;height:36px;}
.gicon_folder_new{background-position:-516px -1118px;width:36px;height:36px;}
.gicon_edit{background-position:-516px -1204px;width:36px;height:36px;}
.gicon_new_window{background-position:-516px -1290px;width:36px;height:36px;}
.gicon_check{background-position:-516px -1376px;width:36px;height:36px;}
.gicon_unchecked{background-position:-516px -1462px;width:36px;height:36px;}
.gicon_more_windows{background-position:-516px -1548px;width:36px;height:36px;}
.gicon_show_big_thumbnails{background-position:-516px -1634px;width:36px;height:36px;}
.gicon_show_thumbnails{background-position:-516px -1720px;width:36px;height:36px;}
.gicon_show_thumbnails_with_lines{background-position:-516px -1806px;width:36px;height:36px;}
.gicon_show_lines{background-position:-516px -1892px;width:36px;height:36px;}
.gicon_playlist{background-position:-602px 0;width:36px;height:36px;}
.gicon_imac{background-position:-602px -86px;width:36px;height:36px;}
.gicon_macbook{background-position:-602px -172px;width:36px;height:36px;}
.gicon_ipad{background-position:-602px -258px;width:36px;height:36px;}
.gicon_iphone{background-position:-602px -344px;width:36px;height:36px;}
.gicon_iphone_transfer{background-position:-602px -430px;width:36px;height:36px;}
.gicon_iphone_exchange{background-position:-602px -516px;width:36px;height:36px;}
.gicon_ipod{background-position:-602px -602px;width:36px;height:36px;}
.gicon_ipod_shuffle{background-position:-602px -688px;width:36px;height:36px;}
.gicon_ear_plugs{background-position:-602px -774px;width:36px;height:36px;}
.gicon_record{background-position:-602px -860px;width:36px;height:36px;}
.gicon_step_backward{background-position:-602px -946px;width:36px;height:36px;}
.gicon_fast_backward{background-position:-602px -1032px;width:36px;height:36px;}
.gicon_rewind{background-position:-602px -1118px;width:36px;height:36px;}
.gicon_play{background-position:-602px -1204px;width:36px;height:36px;}
.gicon_pause{background-position:-602px -1290px;width:36px;height:36px;}
.gicon_stop{background-position:-602px -1376px;width:36px;height:36px;}
.gicon_forward{background-position:-602px -1462px;width:36px;height:36px;}
.gicon_fast_forward{background-position:-602px -1548px;width:36px;height:36px;}
.gicon_step_forward{background-position:-602px -1634px;width:36px;height:36px;}
.gicon_eject{background-position:-602px -1720px;width:36px;height:36px;}
.gicon_facetime_video{background-position:-602px -1806px;width:36px;height:36px;}
.gicon_download_alt{background-position:-602px -1892px;width:36px;height:36px;}
.gicon_mute{background-position:-688px 0;width:36px;height:36px;}
.gicon_volume_down{background-position:-688px -86px;width:36px;height:36px;}
.gicon_volume_up{background-position:-688px -172px;width:36px;height:36px;}
.gicon_screenshot{background-position:-688px -258px;width:36px;height:36px;}
.gicon_move{background-position:-688px -344px;width:36px;height:36px;}
.gicon_more{background-position:-688px -430px;width:36px;height:36px;}
.gicon_brightness_reduce{background-position:-688px -516px;width:36px;height:36px;}
.gicon_brightness_increase{background-position:-688px -602px;width:36px;height:36px;}
.gicon_circle_plus{background-position:-688px -688px;width:36px;height:36px;}
.gicon_circle_minus{background-position:-688px -774px;width:36px;height:36px;}
.gicon_circle_remove{background-position:-688px -860px;width:36px;height:36px;}
.gicon_circle_ok{background-position:-688px -946px;width:36px;height:36px;}
.gicon_circle_question_mark{background-position:-688px -1032px;width:36px;height:36px;}
.gicon_circle_info{background-position:-688px -1118px;width:36px;height:36px;}
.gicon_circle_exclamation_mark{background-position:-688px -1204px;width:36px;height:36px;}
.gicon_remove{background-position:-688px -1290px;width:36px;height:36px;}
.gicon_ok{background-position:-688px -1376px;width:36px;height:36px;}
.gicon_ban{background-position:-688px -1462px;width:36px;height:36px;}
.gicon_download{background-position:-688px -1548px;width:36px;height:36px;}
.gicon_upload{background-position:-688px -1634px;width:36px;height:36px;}
.gicon_shopping_cart{background-position:-688px -1720px;width:36px;height:36px;}
.gicon_lock{background-position:-688px -1806px;width:36px;height:36px;}
.gicon_unlock{background-position:-688px -1892px;width:36px;height:36px;}
.gicon_electricity{background-position:-774px 0;width:36px;height:36px;}
.gicon_ok_2{background-position:-774px -86px;width:36px;height:36px;}
.gicon_remove_2{background-position:-774px -172px;width:36px;height:36px;}
.gicon_cart_out{background-position:-774px -258px;width:36px;height:36px;}
.gicon_cart_in{background-position:-774px -344px;width:36px;height:36px;}
.gicon_left_arrow{background-position:-774px -430px;width:36px;height:36px;}
.gicon_right_arrow{background-position:-774px -516px;width:36px;height:36px;}
.gicon_down_arrow{background-position:-774px -602px;width:36px;height:36px;}
.gicon_up_arrow{background-position:-774px -688px;width:36px;height:36px;}
.gicon_resize_small{background-position:-774px -774px;width:36px;height:36px;}
.gicon_resize_full{background-position:-774px -860px;width:36px;height:36px;}
.gicon_circle_arrow_left{background-position:-774px -946px;width:36px;height:36px;}
.gicon_circle_arrow_right{background-position:-774px -1032px;width:36px;height:36px;}
.gicon_circle_arrow_top{background-position:-774px -1118px;width:36px;height:36px;}
.gicon_circle_arrow_down{background-position:-774px -1204px;width:36px;height:36px;}
.gicon_play_button{background-position:-774px -1290px;width:36px;height:36px;}
.gicon_unshare{background-position:-774px -1376px;width:36px;height:36px;}
.gicon_share{background-position:-774px -1462px;width:36px;height:36px;}
.gicon_chevron-right{background-position:-774px -1548px;width:36px;height:36px;}
.gicon_chevron-left{background-position:-774px -1634px;width:36px;height:36px;}
.gicon_bluetooth{background-position:-774px -1720px;width:36px;height:36px;}
.gicon_euro{background-position:-774px -1806px;width:36px;height:36px;}
.gicon_usd{background-position:-774px -1892px;width:36px;height:36px;}
.gicon_gbp{background-position:-860px 0;width:36px;height:36px;}
.gicon_retweet_2{background-position:-860px -86px;width:36px;height:36px;}
.gicon_moon{background-position:-860px -172px;width:36px;height:36px;}
.gicon_sun{background-position:-860px -258px;width:36px;height:36px;}
.gicon_cloud{background-position:-860px -344px;width:36px;height:36px;}
.gicon_direction{background-position:-860px -430px;width:36px;height:36px;}
.gicon_brush{background-position:-860px -516px;width:36px;height:36px;}
.gicon_pen{background-position:-860px -602px;width:36px;height:36px;}
.gicon_zoom_in{background-position:-860px -688px;width:36px;height:36px;}
.gicon_zoom_out{background-position:-860px -774px;width:36px;height:36px;}
.gicon_pin{background-position:-860px -860px;width:36px;height:36px;}
.gicon_albums{background-position:-860px -946px;width:36px;height:36px;}
.gicon_rotation_lock{background-position:-860px -1032px;width:36px;height:36px;}
.gicon_flash{background-position:-860px -1118px;width:36px;height:36px;}
.gicon_google_maps{background-position:-860px -1204px;width:36px;height:36px;}
.gicon_anchor{background-position:-860px -1290px;width:36px;height:36px;}
.gicon_conversation{background-position:-860px -1376px;width:36px;height:36px;}
.gicon_chat{background-position:-860px -1462px;width:36px;height:36px;}
.gicon_male{background-position:-860px -1548px;width:36px;height:36px;}
.gicon_female{background-position:-860px -1634px;width:36px;height:36px;}
.gicon_asterisk{background-position:-860px -1720px;width:36px;height:36px;}
.gicon_divide{background-position:-860px -1806px;width:36px;height:36px;}
.gicon_snorkel_diving{background-position:-860px -1892px;width:36px;height:36px;}
.gicon_scuba_diving{background-position:-946px 0;width:36px;height:36px;}
.gicon_oxygen_bottle{background-position:-946px -86px;width:36px;height:36px;}
.gicon_fins{background-position:-946px -172px;width:36px;height:36px;}
.gicon_fishes{background-position:-946px -258px;width:36px;height:36px;}
.gicon_boat{background-position:-946px -344px;width:36px;height:36px;}
.gicon_delete{background-position:-946px -430px;width:36px;height:36px;}
.gicon_sheriffs_star{background-position:-946px -516px;width:36px;height:36px;}
.gicon_qrcode{background-position:-946px -602px;width:36px;height:36px;}
.gicon_barcode{background-position:-946px -688px;width:36px;height:36px;}
.gicon_pool{background-position:-946px -774px;width:36px;height:36px;}
.gicon_buoy{background-position:-946px -860px;width:36px;height:36px;}
.gicon_spade{background-position:-946px -946px;width:36px;height:36px;}
.gicon_bank{background-position:-946px -1032px;width:36px;height:36px;}
.gicon_vcard{background-position:-946px -1118px;width:36px;height:36px;}
.gicon_electrical_plug{background-position:-946px -1204px;width:36px;height:36px;}
.gicon_flag{background-position:-946px -1290px;width:36px;height:36px;}
.gicon_credit_card{background-position:-946px -1376px;width:36px;height:36px;}
.gicon_keyboard_wireless{background-position:-946px -1462px;width:36px;height:36px;}
.gicon_keyboard_wireless{background-position:-946px -1548px;width:36px;height:36px;}
.gicon_shield{background-position:-946px -1634px;width:36px;height:36px;}
.gicon_ring{background-position:-946px -1720px;width:36px;height:36px;}
.gicon_cake{background-position:-946px -1806px;width:36px;height:36px;}
.gicon_drink{background-position:-946px -1892px;width:36px;height:36px;}
.gicon_beer{background-position:-1032px 0;width:36px;height:36px;}
.gicon_fast_food{background-position:-1032px -86px;width:36px;height:36px;}
.gicon_cutlery{background-position:-1032px -172px;width:36px;height:36px;}
.gicon_pizza{background-position:-1032px -258px;width:36px;height:36px;}
.gicon_birthday_cake{background-position:-1032px -344px;width:36px;height:36px;}
.gicon_tablet{background-position:-1032px -430px;width:36px;height:36px;}
.gicon_settings{background-position:-1032px -516px;width:36px;height:36px;}
.gicon_bullets{background-position:-1032px -602px;width:36px;height:36px;}
.gicon_cardio{background-position:-1032px -688px;width:36px;height:36px;}
.gicon_t-shirt{background-position:-1032px -774px;width:36px;height:36px;}
.gicon_pants{background-position:-1032px -860px;width:36px;height:36px;}
.gicon_sweater{background-position:-1032px -946px;width:36px;height:36px;}
.gicon_fabric{background-position:-1032px -1032px;width:36px;height:36px;}
.gicon_leather{background-position:-1032px -1118px;width:36px;height:36px;}
.gicon_scissors{background-position:-1032px -1204px;width:36px;height:36px;}
.gicon_bomb{background-position:-1032px -1290px;width:36px;height:36px;}
.gicon_skull{background-position:-1032px -1376px;width:36px;height:36px;}
.gicon_celebration{background-position:-1032px -1462px;width:36px;height:36px;}
.gicon_tea_kettle{background-position:-1032px -1548px;width:36px;height:36px;}
.gicon_french_press{background-position:-1032px -1634px;width:36px;height:36px;}
.gicon_coffe_cup{background-position:-1032px -1720px;width:36px;height:36px;}
.gicon_pot{background-position:-1032px -1806px;width:36px;height:36px;}
.gicon_grater{background-position:-1032px -1892px;width:36px;height:36px;}
.gicon_kettle{background-position:-1118px 0;width:36px;height:36px;}
.gicon_hospital{background-position:-1118px -86px;width:36px;height:36px;}
.gicon_hospital_h{background-position:-1118px -172px;width:36px;height:36px;}
.gicon_microphone{background-position:-1118px -258px;width:36px;height:36px;}
.gicon_webcam{background-position:-1118px -344px;width:36px;height:36px;}
.gicon_temple_christianity_church{background-position:-1118px -430px;width:36px;height:36px;}
.gicon_temple_islam{background-position:-1118px -516px;width:36px;height:36px;}
.gicon_temple_hindu{background-position:-1118px -602px;width:36px;height:36px;}
.gicon_temple_buddhist{background-position:-1118px -688px;width:36px;height:36px;}
.gicon_bicycle{background-position:-1118px -774px;width:36px;height:36px;}
.gicon_life_preserver{background-position:-1118px -860px;width:36px;height:36px;}
.gicon_share_alt{background-position:-1118px -946px;width:36px;height:36px;}
.gicon_comments{background-position:-1118px -1032px;width:36px;height:36px;}
.gicon_flower{background-position:-1118px -1118px;width:36px;height:36px;}
.gicon_baseball{background-position:-1118px -1204px;width:36px;height:36px;}
.gicon_rugby{background-position:-1118px -1290px;width:36px;height:36px;}
.gicon_ax{background-position:-1118px -1376px;width:36px;height:36px;}
.gicon_table_tennis{background-position:-1118px -1462px;width:36px;height:36px;}
.gicon_bowling{background-position:-1118px -1548px;width:36px;height:36px;}
.gicon_tree_conifer{background-position:-1118px -1634px;width:36px;height:36px;}
.gicon_tree_deciduous{background-position:-1118px -1720px;width:36px;height:36px;}
.gicon_more_items{background-position:-1118px -1806px;width:36px;height:36px;}
.gicon_sort{background-position:-1118px -1892px;width:36px;height:36px;}
.gicon_filter{background-position:-1204px 0;width:36px;height:36px;}
.gicon_gamepad{background-position:-1204px -86px;width:36px;height:36px;}
.gicon_playing_dices{background-position:-1204px -172px;width:36px;height:36px;}
.gicon_calculator{background-position:-1204px -258px;width:36px;height:36px;}
.gicon_tie{background-position:-1204px -344px;width:36px;height:36px;}
.gicon_wallet{background-position:-1204px -430px;width:36px;height:36px;}
.gicon_piano{background-position:-1204px -516px;width:36px;height:36px;}
.gicon_sampler{background-position:-1204px -602px;width:36px;height:36px;}
.gicon_podium{background-position:-1204px -688px;width:36px;height:36px;}
.gicon_soccer_ball{background-position:-1204px -774px;width:36px;height:36px;}
.gicon_blog{background-position:-1204px -860px;width:36px;height:36px;}
.gicon_dashboard{background-position:-1204px -946px;width:36px;height:36px;}
.gicon_certificate{background-position:-1204px -1032px;width:36px;height:36px;}
.gicon_bell{background-position:-1204px -1118px;width:36px;height:36px;}
.gicon_candle{background-position:-1204px -1204px;width:36px;height:36px;}
.gicon_pushpin{background-position:-1204px -1290px;width:36px;height:36px;}
.gicon_iphone_shake{background-position:-1204px -1376px;width:36px;height:36px;}
.gicon_pin_flag{background-position:-1204px -1462px;width:36px;height:36px;}
.gicon_turtle{background-position:-1204px -1548px;width:36px;height:36px;}
.gicon_rabbit{background-position:-1204px -1634px;width:36px;height:36px;}
.gicon_globe{background-position:-1204px -1720px;width:36px;height:36px;}
.gicon_briefcase{background-position:-1204px -1806px;width:36px;height:36px;}
.gicon_hdd{background-position:-1204px -1892px;width:36px;height:36px;}
.gicon_thumbs_up{background-position:-1290px 0;width:36px;height:36px;}
.gicon_thumbs_down{background-position:-1290px -86px;width:36px;height:36px;}
.gicon_hand_right{background-position:-1290px -172px;width:36px;height:36px;}
.gicon_hand_left{background-position:-1290px -258px;width:36px;height:36px;}
.gicon_hand_up{background-position:-1290px -344px;width:36px;height:36px;}
.gicon_hand_down{background-position:-1290px -430px;width:36px;height:36px;}
.gicon_fullscreen{background-position:-1290px -516px;width:36px;height:36px;}
.gicon_shopping_bag{background-position:-1290px -602px;width:36px;height:36px;}
.gicon_book_open{background-position:-1290px -688px;width:36px;height:36px;}
.gicon_nameplate{background-position:-1290px -774px;width:36px;height:36px;}
.gicon_nameplate_alt{background-position:-1290px -860px;width:36px;height:36px;}
.gicon_vases{background-position:-1290px -946px;width:36px;height:36px;}
.gicon_bullhorn{background-position:-1290px -1032px;width:36px;height:36px;}
.gicon_dumbbell{background-position:-1290px -1118px;width:36px;height:36px;}
.gicon_suitcase{background-position:-1290px -1204px;width:36px;height:36px;}
.gicon_file_import{background-position:-1290px -1290px;width:36px;height:36px;}
.gicon_file_export{background-position:-1290px -1376px;width:36px;height:36px;}
.gicon_bug{background-position:-1290px -1462px;width:36px;height:36px;}
.gicon_crown{background-position:-1290px -1548px;width:36px;height:36px;}
.gicon_smoking{background-position:-1290px -1634px;width:36px;height:36px;}
.gicon_cloud_upload{background-position:-1290px -1720px;width:36px;height:36px;}
.gicon_cloud_download{background-position:-1290px -1806px;width:36px;height:36px;}
.gicon_restart{background-position:-1290px -1892px;width:36px;height:36px;}
.gicon_security_camera{background-position:-1376px 0;width:36px;height:36px;}
.gicon_expand{background-position:-1376px -86px;width:36px;height:36px;}
.gicon_collapse{background-position:-1376px -172px;width:36px;height:36px;}
.gicon_collapse_top{background-position:-1376px -258px;width:36px;height:36px;}
.gicon_globe_af{background-position:-1376px -344px;width:36px;height:36px;}
.gicon_global{background-position:-1376px -430px;width:36px;height:36px;}
.gicon_spray{background-position:-1376px -516px;width:36px;height:36px;}
.gicon_nails{background-position:-1376px -602px;width:36px;height:36px;}
.gicon_claw_hammer{background-position:-1376px -688px;width:36px;height:36px;}
.gicon_classic_hammer{background-position:-1376px -774px;width:36px;height:36px;}
.gicon_hand_saw{background-position:-1376px -860px;width:36px;height:36px;}
.gicon_riflescope{background-position:-1376px -946px;width:36px;height:36px;}
.gicon_electrical_socket_eu{background-position:-1376px -1032px;width:36px;height:36px;}
.gicon_electrical_socket_us{background-position:-1376px -1118px;width:36px;height:36px;}
.gicon_message_forward{background-position:-1376px -1204px;width:36px;height:36px;}
.gicon_coat_hanger{background-position:-1376px -1290px;width:36px;height:36px;}
.gicon_dress{background-position:-1376px -1376px;width:36px;height:36px;}
.gicon_bathrobe{background-position:-1376px -1462px;width:36px;height:36px;}
.gicon_shirt{background-position:-1376px -1548px;width:36px;height:36px;}
.gicon_underwear{background-position:-1376px -1634px;width:36px;height:36px;}
.gicon_log_in{background-position:-1376px -1720px;width:36px;height:36px;}
.gicon_log_out{background-position:-1376px -1806px;width:36px;height:36px;}
.gicon_exit{background-position:-1376px -1892px;width:36px;height:36px;}
.gicon_new_window_alt{background-position:-1462px 0;width:36px;height:36px;}
.gicon_video_sd{background-position:-1462px -86px;width:36px;height:36px;}
.gicon_video_hd{background-position:-1462px -172px;width:36px;height:36px;}
.gicon_subtitles{background-position:-1462px -258px;width:36px;height:36px;}
.gicon_sound_stereo{background-position:-1462px -344px;width:36px;height:36px;}
.gicon_sound_dolby{background-position:-1462px -430px;width:36px;height:36px;}
.gicon_sound_5_1{background-position:-1462px -516px;width:36px;height:36px;}
.gicon_sound_6_1{background-position:-1462px -602px;width:36px;height:36px;}
.gicon_sound_7_1{background-position:-1462px -688px;width:36px;height:36px;}
.gicon_copyright_mark{background-position:-1462px -774px;width:36px;height:36px;}
.gicon_registration_mark{background-position:-1462px -860px;width:36px;height:36px;}
.gicon_radar{background-position:-1462px -946px;width:36px;height:36px;}
.gicon_skateboard{background-position:-1462px -1032px;width:36px;height:36px;}
.gicon_golf_course{background-position:-1462px -1118px;width:36px;height:36px;}
.gicon_sorting{background-position:-1462px -1204px;width:36px;height:36px;}
.gicon_sort-by-alphabet{background-position:-1462px -1290px;width:36px;height:36px;}
.gicon_sort-by-alphabet-alt{background-position:-1462px -1376px;width:36px;height:36px;}
.gicon_sort-by-order{background-position:-1462px -1462px;width:36px;height:36px;}
.gicon_sort-by-order-alt{background-position:-1462px -1548px;width:36px;height:36px;}
.gicon_sort-by-attributes{background-position:-1462px -1634px;width:36px;height:36px;}
.gicon_sort-by-attributes-alt{background-position:-1462px -1720px;width:36px;height:36px;}
.gicon_compressed{background-position:-1462px -1806px;width:36px;height:36px;}
.gicon_package{background-position:-1462px -1892px;width:36px;height:36px;}
.gicon_cloud_plus{background-position:-1548px 0;width:36px;height:36px;}
.gicon_cloud_minus{background-position:-1548px -86px;width:36px;height:36px;}
.gicon_disk_save{background-position:-1548px -172px;width:36px;height:36px;}
.gicon_disk_open{background-position:-1548px -258px;width:36px;height:36px;}
.gicon_disk_saved{background-position:-1548px -344px;width:36px;height:36px;}
.gicon_disk_remove{background-position:-1548px -430px;width:36px;height:36px;}
.gicon_disk_import{background-position:-1548px -516px;width:36px;height:36px;}
.gicon_disk_export{background-position:-1548px -602px;width:36px;height:36px;}
.gicon_tower{background-position:-1548px -688px;width:36px;height:36px;}
.gicon_send{background-position:-1548px -774px;width:36px;height:36px;}
.gicon_git_branch{background-position:-1548px -860px;width:36px;height:36px;}
.gicon_git_create{background-position:-1548px -946px;width:36px;height:36px;}
.gicon_git_private{background-position:-1548px -1032px;width:36px;height:36px;}
.gicon_git_delete{background-position:-1548px -1118px;width:36px;height:36px;}
.gicon_git_merge{background-position:-1548px -1204px;width:36px;height:36px;}
.gicon_git_pull_request{background-position:-1548px -1290px;width:36px;height:36px;}
.gicon_git_compare{background-position:-1548px -1376px;width:36px;height:36px;}
.gicon_git_commit{background-position:-1548px -1462px;width:36px;height:36px;}
.gicon_construction_cone{background-position:-1548px -1548px;width:36px;height:36px;}
.gicon_shoe_steps{background-position:-1548px -1634px;width:36px;height:36px;}
.gicon_plus{background-position:-1548px -1720px;width:36px;height:36px;}
.gicon_minus{background-position:-1548px -1806px;width:36px;height:36px;}
.gicon_redo{background-position:-1548px -1892px;width:36px;height:36px;}
.gicon_undo{background-position:-1634px 0;width:36px;height:36px;}
.gicon_golf{background-position:-1634px -86px;width:36px;height:36px;}
.gicon_hockey{background-position:-1634px -172px;width:36px;height:36px;}
.gicon_pipe{background-position:-1634px -258px;width:36px;height:36px;}
.gicon_wrench{background-position:-1634px -344px;width:36px;height:36px;}
.gicon_folder_closed{background-position:-1634px -430px;width:36px;height:36px;}
.gicon_phone_alt{background-position:-1634px -516px;width:36px;height:36px;}
.gicon_earphone{background-position:-1634px -602px;width:36px;height:36px;}
.gicon_floppy_disk{background-position:-1634px -688px;width:36px;height:36px;}
.gicon_floppy_saved{background-position:-1634px -774px;width:36px;height:36px;}
.gicon_floppy_remove{background-position:-1634px -860px;width:36px;height:36px;}
.gicon_floppy_save{background-position:-1634px -946px;width:36px;height:36px;}
.gicon_floppy_open{background-position:-1634px -1032px;width:36px;height:36px;}
.gicon_translate{background-position:-1634px -1118px;width:36px;height:36px;}
.gicon_fax{background-position:-1634px -1204px;width:36px;height:36px;}
.gicon_factory{background-position:-1634px -1290px;width:36px;height:36px;}
.gicon_shop_window{background-position:-1634px -1376px;width:36px;height:36px;}
.gicon_shop{background-position:-1634px -1462px;width:36px;height:36px;}
.gicon_kiosk{background-position:-1634px -1548px;width:36px;height:36px;}
.gicon_kiosk_wheels{background-position:-1634px -1634px;width:36px;height:36px;}
.gicon_kiosk_light{background-position:-1634px -1720px;width:36px;height:36px;}
.gicon_kiosk_food{background-position:-1634px -1806px;width:36px;height:36px;}
.gicon_transfer{background-position:-1634px -1892px;width:36px;height:36px;}
.gicon_money{background-position:-1720px 0;width:36px;height:36px;}
.gicon_header{background-position:-1720px -86px;width:36px;height:36px;}
.gicon_blacksmith{background-position:-1720px -172px;width:36px;height:36px;}
.gicon_saw_blade{background-position:-1720px -258px;width:36px;height:36px;}
.gicon_basketball{background-position:-1720px -344px;width:36px;height:36px;}
.gicon_server{background-position:-1720px -430px;width:36px;height:36px;}
.gicon_server_plus{background-position:-1720px -516px;width:36px;height:36px;}
.gicon_server_minus{background-position:-1720px -602px;width:36px;height:36px;}
.gicon_server_ban{background-position:-1720px -688px;width:36px;height:36px;}
.gicon_server_flag{background-position:-1720px -774px;width:36px;height:36px;}
.gicon_server_lock{background-position:-1720px -860px;width:36px;height:36px;}
.gicon_server_new{background-position:-1720px -946px;width:36px;height:36px;}
.gicon_social_pinterest{background-position:-1720px -1032px;width:36px;height:36px;}
.gicon_social_dropbox{background-position:-1720px -1118px;width:36px;height:36px;}
.gicon_social_google_plus{background-position:-1720px -1204px;width:36px;height:36px;}
.gicon_social_jolicloud{background-position:-1720px -1290px;width:36px;height:36px;}
.gicon_social_yahoo{background-position:-1720px -1376px;width:36px;height:36px;}
.gicon_social_blogger{background-position:-1720px -1462px;width:36px;height:36px;}
.gicon_social_picasa{background-position:-1720px -1548px;width:36px;height:36px;}
.gicon_social_amazon{background-position:-1720px -1634px;width:36px;height:36px;}
.gicon_social_tumblr{background-position:-1720px -1720px;width:36px;height:36px;}
.gicon_social_wordpress{background-position:-1720px -1806px;width:36px;height:36px;}
.gicon_social_instapaper{background-position:-1720px -1892px;width:36px;height:36px;}
.gicon_social_evernote{background-position:-1806px 0;width:36px;height:36px;}
.gicon_social_xing{background-position:-1806px -86px;width:36px;height:36px;}
.gicon_social_zootool{background-position:-1806px -172px;width:36px;height:36px;}
.gicon_social_dribbble{background-position:-1806px -258px;width:36px;height:36px;}
.gicon_social_deviantart{background-position:-1806px -344px;width:36px;height:36px;}
.gicon_social_read_it_later{background-position:-1806px -430px;width:36px;height:36px;}
.gicon_social_linked_in{background-position:-1806px -516px;width:36px;height:36px;}
.gicon_social_forrst{background-position:-1806px -602px;width:36px;height:36px;}
.gicon_social_pinboard{background-position:-1806px -688px;width:36px;height:36px;}
.gicon_social_behance{background-position:-1806px -774px;width:36px;height:36px;}
.gicon_social_github{background-position:-1806px -860px;width:36px;height:36px;}
.gicon_social_youtube{background-position:-1806px -946px;width:36px;height:36px;}
.gicon_social_skitch{background-position:-1806px -1032px;width:36px;height:36px;}
.gicon_social_4square{background-position:-1806px -1118px;width:36px;height:36px;}
.gicon_social_quora{background-position:-1806px -1204px;width:36px;height:36px;}
.gicon_social_badoo{background-position:-1806px -1290px;width:36px;height:36px;}
.gicon_social_spotify{background-position:-1806px -1376px;width:36px;height:36px;}
.gicon_social_stumbleupon{background-position:-1806px -1462px;width:36px;height:36px;}
.gicon_social_readability{background-position:-1806px -1548px;width:36px;height:36px;}
.gicon_social_facebook{background-position:-1806px -1634px;width:36px;height:36px;}
.gicon_social_twitter{background-position:-1806px -1720px;width:36px;height:36px;}
.gicon_social_instagram{background-position:-1806px -1806px;width:36px;height:36px;}
.gicon_social_posterous_spaces{background-position:-1806px -1892px;width:36px;height:36px;}
.gicon_social_vimeo{background-position:-1892px 0;width:36px;height:36px;}
.gicon_social_flickr{background-position:-1892px -86px;width:36px;height:36px;}
.gicon_social_last_fm{background-position:-1892px -172px;width:36px;height:36px;}
.gicon_social_rss{background-position:-1892px -258px;width:36px;height:36px;}
.gicon_social_skype{background-position:-1892px -344px;width:36px;height:36px;}
.gicon_social_e-mail{background-position:-1892px -430px;width:36px;height:36px;}
.gicon_social_vine{background-position:-1892px -516px;width:36px;height:36px;}
.gicon_social_myspace{background-position:-1892px -602px;width:36px;height:36px;}
.gicon_social_goodreads{background-position:-1892px -688px;width:36px;height:36px;}
.gicon_social_apple{background-position:-1892px -774px;width:36px;height:36px;}
.gicon_social_windows{background-position:-1892px -860px;width:36px;height:36px;}
.gicon_social_yelp{background-position:-1892px -946px;width:36px;height:36px;}
.gicon_social_playstation{background-position:-1892px -1032px;width:36px;height:36px;}
.gicon_social_xbox{background-position:-1892px -1118px;width:36px;height:36px;}
.gicon_social_android{background-position:-1892px -1204px;width:36px;height:36px;}
.gicon_social_ios{background-position:-1892px -1290px;width:36px;height:36px;}